.slideshow {
  display: flex;
  align-items: center;
  width: 100%;
}

.products {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.product {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* overwrite of default theme styles */
  padding: 0 !important;
  border: 0 !important;
}
@media (min-width: 768px) {
  .product {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .product {
    width: 33.33333%;
  }
}

.product__image {
  position: relative;
  height: 250px;
  width: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.product__name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: sans-serif;
  color: #555;
  background: rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
}

.arrow {
  display: flex;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: 0;
  outline: 0;
}
.arrow::after {
  content: ' ';
  display: block;
  border: solid black;
  border-width: 0 3px 3px 0;
  padding: 3px;
}
.arrow--right::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.arrow--left::after {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
